## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN','NAME'], inplace = True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df.value_counts(['APPLICATION_TYPE'])

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17','T15','T29','T25','T14','T2','T12','T13','T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df.value_counts(['CLASSIFICATION'])

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
                  ...
C2190                 1
C2380                 1
C2500                 1
C2561                 1
C8210                 1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df.value_counts(['CLASSIFICATION']).loc[lambda x : x>1]

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
C8000                20
C7120                18
C1500                16
C1800                15
C6000                15
C1250                14
C8200                11
C1278                10
C1238                10
C1235                 9
C1237                 9
C7210                 7
C1720                 6
C4100                 6
C2400                 6
C1600                 5
C1257                 5
C2710                 3
C1260                 3
C0                    3
C1267                 2
C1246                 2
C1256                 2
C3200                 2
C1234                 2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace_list = application_df.value_counts(['CLASSIFICATION']).loc[lambda x : x<800].index.tolist()
classifications_to_replace = [item[0] for item in classifications_to_replace_list]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [21]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [30]:
X.shape

(34299, 43)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

C:\Users\cmdur\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 8)                   │             352 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 5)                   │              45 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │               6 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 403 (1.57 KB)

 Trainable params: 403 (1.57 KB)

 Non-trainable params: 0 (0.00 B)

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 2s 626us/step - accuracy: 0.6197 - loss: 0.6564
Epoch 2/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - accuracy: 0.7232 - loss: 0.5660
Epoch 3/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.7273 - loss: 0.5591
Epoch 4/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 589us/step - accuracy: 0.7328 - loss: 0.5522
Epoch 5/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.7302 - loss: 0.5530
Epoch 6/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7284 - loss: 0.5531
Epoch 7/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7314 - loss: 0.5515
Epoch 8/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7293 - loss: 0.5509
Epoch 9/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.7344 - loss: 0.5485
Epoch 10/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - accuracy: 0.7297 - loss: 0.5560
Epoch 11/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7260 - loss: 0.5565
Epoch 12/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7316 - loss: 0.5500
Epoch 13/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7391 - loss: 0.5455
Epoch 14/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7313 - loss: 0.5519
Epoch 15/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7315 - loss: 0.5521
Epoch 16/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.7349 - loss: 0.5488
Epoch 17/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.7305 - loss: 0.5476
Epoch 18/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 628us/step - accuracy: 0.7328 - loss: 0.5502
Epoch 19/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.7312 - loss: 0.5516
Epoch 20/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - accuracy: 0.7329 - loss: 0.5482
Epoch 21/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - accuracy: 0.7374 - loss: 0.5446
Epoch 22/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7333 - loss: 0.5494
Epoch 23/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7352 - loss: 0.5486
Epoch 24/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7342 - loss: 0.5503
Epoch 25/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7338 - loss: 0.5479
Epoch 26/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - accuracy: 0.7355 - loss: 0.5453
Epoch 27/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - accuracy: 0.7323 - loss: 0.5462
Epoch 28/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7275 - loss: 0.5483
Epoch 29/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - accuracy: 0.7328 - loss: 0.5471
Epoch 30/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7342 - loss: 0.5432
Epoch 31/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 610us/step - accuracy: 0.7356 - loss: 0.5456
Epoch 32/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.7361 - loss: 0.5397
Epoch 33/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - accuracy: 0.7337 - loss: 0.5476
Epoch 34/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 644us/step - accuracy: 0.7321 - loss: 0.5491
Epoch 35/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.7380 - loss: 0.5408
Epoch 36/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7334 - loss: 0.5471
Epoch 37/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 596us/step - accuracy: 0.7321 - loss: 0.5482
Epoch 38/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7360 - loss: 0.5431
Epoch 39/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.7353 - loss: 0.5454
Epoch 40/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.7364 - loss: 0.5435
Epoch 41/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.7354 - loss: 0.5459
Epoch 42/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - accuracy: 0.7325 - loss: 0.5462
Epoch 43/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.7280 - loss: 0.5478
Epoch 44/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - accuracy: 0.7389 - loss: 0.5412
Epoch 45/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - accuracy: 0.7315 - loss: 0.5502
Epoch 46/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 638us/step - accuracy: 0.7317 - loss: 0.5462
Epoch 47/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.7370 - loss: 0.5441
Epoch 48/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7398 - loss: 0.5412
Epoch 49/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 601us/step - accuracy: 0.7287 - loss: 0.5505
Epoch 50/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.7378 - loss: 0.5436
Epoch 51/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - accuracy: 0.7350 - loss: 0.5447
Epoch 52/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.7303 - loss: 0.5502
Epoch 53/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.7336 - loss: 0.5480
Epoch 54/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 655us/step - accuracy: 0.7368 - loss: 0.5440
Epoch 55/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - accuracy: 0.7377 - loss: 0.5437
Epoch 56/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 617us/step - accuracy: 0.7365 - loss: 0.5445
Epoch 57/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - accuracy: 0.7379 - loss: 0.5379
Epoch 58/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 635us/step - accuracy: 0.7356 - loss: 0.5456
Epoch 59/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 637us/step - accuracy: 0.7423 - loss: 0.5379
Epoch 60/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7359 - loss: 0.5433
Epoch 61/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - accuracy: 0.7332 - loss: 0.5447
Epoch 62/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 619us/step - accuracy: 0.7346 - loss: 0.5461
Epoch 63/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 632us/step - accuracy: 0.7327 - loss: 0.5463
Epoch 64/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 625us/step - accuracy: 0.7309 - loss: 0.5487
Epoch 65/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7380 - loss: 0.5401
Epoch 66/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.7337 - loss: 0.5458
Epoch 67/100

751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.7357 - loss: 0.5451
Epoch 68/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7355 - loss: 0.5414
Epoch 69/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7363 - loss: 0.5434
Epoch 70/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.7364 - loss: 0.5450
Epoch 71/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.7362 - loss: 0.5428
Epoch 72/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - accuracy: 0.7344 - loss: 0.5441
Epoch 73/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 631us/step - accuracy: 0.7355 - loss: 0.5462
Epoch 74/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 615us/step - accuracy: 0.7386 - loss: 0.5424
Epoch 75/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7384 - loss: 0.5399
Epoch 76/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 588us/step - accuracy: 0.7351 - loss: 0.5429
Epoch 77/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.7324 - loss: 0.5458
Epoch 78/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - accuracy: 0.7290 - loss: 0.5487
Epoch 79/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7319 - loss: 0.5464
Epoch 80/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 602us/step - accuracy: 0.7334 - loss: 0.5441
Epoch 81/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.7289 - loss: 0.5483
Epoch 82/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - accuracy: 0.7345 - loss: 0.5470
Epoch 83/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.7360 - loss: 0.5415
Epoch 84/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.7337 - loss: 0.5451
Epoch 85/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.7355 - loss: 0.5422
Epoch 86/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 595us/step - accuracy: 0.7306 - loss: 0.5453
Epoch 87/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.7377 - loss: 0.5432
Epoch 88/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 623us/step - accuracy: 0.7344 - loss: 0.5465
Epoch 89/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 590us/step - accuracy: 0.7362 - loss: 0.5440
Epoch 90/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.7349 - loss: 0.5440
Epoch 91/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 622us/step - accuracy: 0.7376 - loss: 0.5386
Epoch 92/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 613us/step - accuracy: 0.7360 - loss: 0.5445
Epoch 93/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.7376 - loss: 0.5405
Epoch 94/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 1s 658us/step - accuracy: 0.7360 - loss: 0.5430
Epoch 95/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - accuracy: 0.7351 - loss: 0.5425
Epoch 96/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - accuracy: 0.7380 - loss: 0.5406
Epoch 97/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.7370 - loss: 0.5407
Epoch 98/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.7384 - loss: 0.5419
Epoch 99/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 616us/step - accuracy: 0.7383 - loss: 0.5395
Epoch 100/100
751/751 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.7297 - loss: 0.5478

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 0s - 1ms/step - accuracy: 0.7247 - loss: 0.5536
Loss: 0.5536147356033325, Accuracy: 0.7246841788291931

In [ ]:
# Export our model to HDF5 file
nn.save('nn.h5')

In [31]:
def create_model(hp):
    nn_optimized = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_optimized.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=5,
        step=2), activation=activation, input_dim=43))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_optimized.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_optimized.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_optimized.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_optimized

In [32]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [33]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 01m 18s]
val_accuracy: 0.7301263213157654

Best val_accuracy So Far: 0.730709433555603
Total elapsed time: 00h 32m 31s

In [35]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 1,
 'num_layers': 3,
 'units_0': 9,
 'units_1': 7,
 'units_2': 1,
 'units_3': 7,
 'units_4': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0022',
 'units_5': 3}

In [38]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 1s - 3ms/step - accuracy: 0.7307 - loss: 0.5745
Loss: 0.5745295882225037, Accuracy: 0.730709433555603

In [39]:
# Export our model to HDF5 file
best_model.save('nn_optimized.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [28]:
#!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in c:\users\cmdur\anaconda3\lib\site-packages (from keras-tuner) (3.4.1)
Requirement already satisfied: packaging in c:\users\cmdur\anaconda3\lib\site-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in c:\users\cmdur\anaconda3\lib\site-packages (from keras-tuner) (2.31.0)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (2.1.0)
Requirement already satisfied: numpy in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (1.26.4)
Requirement already satisfied: rich in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (13.3.5)
Requirement already satisfied: namex in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (0.0.8)
Requirement already satisfied: h5py in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (3.11.0)
Requirement already satisfied: optree in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (0.12.1)
Requirement already satisfied: ml-dtypes in c:\users\cmdur\anaconda3\lib\site-packages (from keras->keras-tuner) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cmdur\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cmdur\anaconda3\lib\site-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\cmdur\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cmdur\anaconda3\lib\site-packages (from requests->keras-tuner) (2024.2.2)
Requirement already satisfied: typing-extensions>=4.5.0 in c:\users\cmdur\anaconda3\lib\site-packages (from optree->keras->keras-tuner) (4.9.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\cmdur\anaconda3\lib\site-packages (from rich->keras->keras-tuner) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\cmdur\anaconda3\lib\site-packages (from rich->keras->keras-tuner) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\cmdur\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras->keras-tuner) (0.1.0)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ---------------------------------------- 0.0/129.1 kB ? eta -:--:--
   ------ -------------------------------- 20.5/129.1 kB 320.0 kB/s eta 0:00:01
   -------------------------------------- - 122.9/129.1 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 129.1/129.1 kB 1.3 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.7 kt-legacy-1.0.5

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /packages/db/5d/945296512980b0827e93418514c8be9236baa6f0a1e8ca8be3a2026665b0/keras_tuner-1.4.7-py3-none-any.whl.metadata
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /packages/db/5d/945296512980b0827e93418514c8be9236baa6f0a1e8ca8be3a2026665b0/keras_tuner-1.4.7-py3-none-any.whl.metadata
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /packages/db/5d/945296512980b0827e93418514c8be9236baa6f0a1e8ca8be3a2026665b0/keras_tuner-1.4.7-py3-none-any.whl.metadata